{
  "jpetstoreurl": "http://jpetstore.<Ingress Subdomain>",
  "watson": 
  {
    "url": "https://gateway.watsonplatform.net/visual-recognition/api",
    "note": "It may take up to 5 minutes for this key to become active",
    "api_key": "123123123123123123"
  },
  "twilio": {
    "sid": "",
    "token": "",
    "number": "+1XXXXXXXXXX"
  }
}
